.form-control:focus{
    box-shadow: none;
}
.yellow-gradient{
    background: linear-gradient(to bottom,#ff9c35,#ffd019);
}
.pink-gradient{
    background: linear-gradient(180deg,#ff589b -0.01%,#ff136f 99.99%);
}
.blue-gradient{
    background: linear-gradient(170deg,#4289ff -10%,#4149fc 90%);
}
.section-bg{
    background-color: #f4f4f4;
}
input#Email{
    border-radius:5px 0 0 5px;
}
button[type="submit"]{
     border-radius: 0 5px 5px 0; 
     
 }



 section .btn{
    background-color: black;
    color: white;
    border: none;
}
section .container-1 .btn{
    background-color: #ff589b;
}

